/* 
===========================
=========== DARK ==========
===========================
 */

body {
  font-family: "Roboto", sans-serif;
  color: #545e6c;
  background-image: -moz-linear-gradient(0deg, #000000 0%, #0c3c53 100%);
  background-image: -webkit-linear-gradient(0deg, #000000 0%, #0c3c53 100%);
  background-image: -ms-linear-gradient(0deg, #000000 0%, #0c3c53 100%);
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mode {
  color: whitesmoke;
  padding-left: 1rem;
  float: right;
}

#toggle {
  float: left;
}

.wrapper {
  background: #0c3c53;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#left {
  background: #0c3c53;
  color: whitesmoke;
  position: absolute;
  min-height: 400px;
  right: 0;
  width: 50%;
  height: 100%;
}

#right {
  background: #0c3c53;
  color: whitesmoke;
  padding: 60px;
  padding-right: 300px;
}

#left .title {
  padding-top: 0.5rem;
  margin-left: 2rem;
}

.contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.contact-list li {
  margin-bottom: 15px;
  list-style-type: none;
}

.contact-list li:last-child {
  margin-bottom: 0;
}

.contact-list .email .fa {
  font-size: 14px;
}

.contact-list a:hover {
  text-decoration: underline;
  color: #ab3e43;
}

.personal_text h1 {
  font-size: 26px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: whitesmoke;
}

.required:after {
  color: #e32;
  content: " *";
  display: inline;
}

textarea {
  resize: vertical;
}

.personal_text span {
  color: #f0575f;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.contact-container #email:hover {
  color: #ab3e43;
}

.contact-container {
  color: #f0575f;
  font-size: 18px;
  margin-top: 3rem;
}

.contact-container a {
  color: #f0575f;
  text-decoration: none;
}

.imgEmail {
    width: 50%;
    height: 50%;
    margin: 5rem;
  }

.formulario {
  padding: 1rem;
}

.enviar {
  position: relative;
  color: black;
  background-color: #f0575f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.boton {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton button:hover {
  background-image: -moz-linear-gradient(0deg, #50292b 0%, #111010 100%);
  background-image: -webkit-linear-gradient(0deg, #300d0f 0%, #070606 100%);
  background-image: -ms-linear-gradient(0deg, #330b0d 0%, #1f1a1b 100%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color:whitesmoke
}

/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
  #left {
    position: static;
    width: inherit;
    min-height: 400px;
  }
  #right {
    padding: 30px;
    min-height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* 
=========================== 
==== Dynamic Backgorund ===
===========================
 */

 .circles {
  position: absolute;
  top: 200rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 4rem;
  height: 4rem;
  background: #f0575f;
  animation: animate 25s linear infinite;
  bottom: -15rem;
}

.circles li:nth-child(1) {
  left: 90%;
  width: 7rem;
  height: 7rem;
  animation-delay: 2s;
  animation-duration: 16s;
}

.circles li:nth-child(2) {
  left: 80%;
  width: 5rem;
  height: 5rem;
  animation-delay: 0s;
}

.circles li:nth-child(3) {
  left: 75%;
  width: 10rem;
  height: 10rem;
  animation-delay: 10s;
  animation-duration: 22s;
}

.circles li:nth-child(4) {
  left: 63%;
  width: 7rem;
  height: 7rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(5) {
  left: 85%;
  width: 13rem;
  height: 13rem;
  animation-delay: 4s;
  animation-duration: 33s;
}

.circles li:nth-child(6) {
  left: 94%;
  width: 4rem;
  height: 4rem;
  animation-delay: 0s;
  animation-duration: 14s;
}

.circles li:nth-child(7) {
  left: 67%;
  width: 4rem;
  height: 4rem;
  animation-delay: 2s;
  animation-duration: 15s;
}

/* Animación */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 5%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}