.banner {
  background: #303235;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* languaje */

.dropbtn {
  background-color: #303235;
  font-family: Lato, sans-serif;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  border: none;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #303235;
  min-width: 160px;
  border: none;
}

.dropdown-content input {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  border: none;
  outline: none;
}

.dropdown-content input:hover {
  color: #3AC499;
}

.dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #303235;
}

.dropbtn span:hover {
  color: #3AC499;
}

.dropbtn span {
  color: white;
}

#currentPage {
  color: #3AC499;
}

/* Language arrow */

.arrow {
  border: solid #3AC499;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-menu {
  background-color: #303235;
}