html {
  font-size: 24px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem;
  min-height: 200px;
  max-height: 300px;
}

.text-404 {
  display: initial;
  font-size: 8rem;
  border-right: 8px solid #000;
  padding-right: 1rem;
}
.text-not {
  padding-left: 1rem;
  font-size: 7rem;
}

.enviar {
  position: relative;
  color: white;
  width: 25rem;
  height: 5rem;
  background-color: #f0575f;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.boton {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.boton a:hover {
  text-decoration: none;
}

.myBTN {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.boton a:hover {
  background-image: -moz-linear-gradient(0deg, #f0575f 0%, #f69fa3 100%);
  background-image: -webkit-linear-gradient(0deg, #f0575f 0%, #f69fa3 100%);
  background-image: -ms-linear-gradient(0deg, #f0575f 0%, #f69fa3 100%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  color: #000;
}