html {
  font-size: 24px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem;
  min-height: 200px;
  max-height: 300px;
}

.text-404 {
  display: initial;
  font-size: 8rem;
  border-right: 8px solid #000;
  padding-right: 1rem;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

.text-not {
  padding-left: 1rem;
  font-size: 7rem;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

/* */
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.boton {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton button {
  display: block;
  text-transform: uppercase;
  width: 30rem;
  height: 5rem;
}

.icon{
  position:absolute;
  margin-left: 1rem;
  margin-top: 0.33rem;
  align-items: center;
  
}

.backBtn {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #f0575f;
}

.boton button:hover  {
  background-image: -moz-linear-gradient(0deg, #f0575f 0%, #f69fa3 100%);
  background-image: -webkit-linear-gradient(0deg, #f0575f 0%, #f69fa3 100%);
  background-image: -ms-linear-gradient(0deg, #f0575f 0%, #f69fa3 100%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  color: #000;
}