body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background-image: -moz-linear-gradient(0deg, #AB3E43 0%, #FACFD1 100%);
  background-image: -webkit-linear-gradient(0deg, #AB3E43 0%, #FACFD1 100%);
  background-image: -ms-linear-gradient(0deg, #AB3E43 0%, #FACFD1 100%);
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mode {
  color: #222222;
  padding-left: 1rem;
  float: right;
}

#toggle{
  float: left;
}

.wrapper {
  background: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#left {
  background: #ffffff;
  position: absolute;
  min-height: 400px;
  right: 0;
  width: 50%;
  height: 100%;
}

#right {
  background: #ffffff;
  padding: 60px;
  padding-right: 300px;
}

#left .title {
  padding-top: 0.5rem;
  margin-left: 2rem;
}

.contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.contact-list li {
  margin-bottom: 15px;
  list-style-type: none;
}

.contact-list li:last-child {
  margin-bottom: 0;
}

.contact-list .email .fa {
  font-size: 14px;
}

.contact-list a:hover {
  text-decoration: underline;
  color: #AB3E43;
}

.personal_text h1 {
  font-size: 26px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222222;
}

.required:after {
  color: #e32;
  content: ' *';
  display: inline;
}

textarea {
  resize: vertical;
}

.personal_text span {
  color: #f0575f;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.contact-container #email:hover {
  color: #AB3E43;
}

.contact-container {
  color: #f0575f;
  font-size: 18px;
  margin-top: 3rem;
}

.contact-container a {
  color: #f0575f;
  text-decoration: none;
}

.imgEmail {
  width: 50%;
  height: 50%;
  margin: 5rem;
}

.formulario {
  padding: 1rem;
}

.enviar {
  position: relative;
  color: white;
  background-color: #f0575f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.boton {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton button:hover {
  background-image: -moz-linear-gradient(0deg, #f0575f 0%, #F69FA3 100%);
  background-image: -webkit-linear-gradient(0deg, #f0575f 0%, #F69FA3 100%);
  background-image: -ms-linear-gradient(0deg, #f0575f 0%, #F69FA3 100%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
  #left {
    position: static;
    width: inherit;
    min-height: 400px;
  }
  #right {
    padding: 30px;
    min-height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}