body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #002765;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.top-buttons {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.burger-menu {
  display: none;
  position: fixed; /* Use 'fixed' instead of 'absolute' */
  top: 40px;
  left: 10px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.burger-menu.show {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-width: 40vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Establecer altura máxima y overflow */
  max-height: 400px;
  overflow-y: auto;
}

.meal-planner {
  max-width: 540px;
  margin: 5px auto 20px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px 70px;
}

h1 {
  text-align: center;
  color: #002765;
}

.day {
  margin-bottom: 20px;
}

.day-label {
  font-weight: bold;
}

.meal-input {
  width: calc(50% - 16px);
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
}

#burgerBtn{
  border: none;
  outline: none;
  padding: 10px 20px;
  background: #f0575f;
  color: #fff;
  border-radius: 40px;
  margin-top: 1px;
  margin-right: 2px;
}

#clearDataBtn{
  border: none;
  outline: none;
  padding: 10px 20px;
  background: #f0575f;
  color: #fff;
  border-radius: 40px;
  margin-top: 1px;
  margin-right: 2px;
}

#goToPageBtn{
  border: none;
  outline: none;
  padding: 10px 20px;
  background: #f0575f;
  color: #fff;
  border-radius: 40px;
  margin-top: 1px;
  margin-right: 2px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .meal-input {
    width: 90%;
  }
  
  .burger-menu {
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
  }
}
