body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.top-buttons {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 10px;
  width: 200px; /* Set a fixed width for the burger menu */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.burger-menu.show {
  display: block;
}

.meal-planner {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.day {
  margin-bottom: 20px;
}

.day-label {
  font-weight: bold;
}

.meal-input {
  width: calc(50% - 16px);
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .meal-input {
    width: 100%; /* Full width on small screens */
  }
}

/*Responsive styles for burger menu */
@media only screen and (max-width: 600px) {
  .burger-menu {
    top: 60px;
    left: 0;
    right: 0;
    width: 100%; /* Make the burger menu full width on small screens */
  }
}
